<h1>Componente de coches</h1>
<div style="float: left">
<form #formCoche="ngForm" (ngSubmit)="onSubmit();">
<p>
    <label>Nombre:</label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
    <span *ngIf="nombre.touched && !nombre.valid" [ngStyle]="{'color': 'red'}">
        ¡El nombre del coche no es válido!
    </span>
</p>
<p>
    <label>Caballaje:</label>
    <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required pattern="[0-9]+">
    <span *ngIf="caballaje.touched && !caballaje.valid" [ngStyle]="{'color': 'red'}">
        ¡El caballaje del coche no es válido!
    </span>
</p>
<p>
    <label>Color:</label>
    <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-Z#]+">
    <span *ngIf="color.touched && !color.valid" [ngStyle]="{'color': 'red'}">
        ¡El color del coche no es válido!
    </span>
</p>
    <input type="submit" value="Guardar" [disabled]="!formCoche.form.valid">
</form>
</div>

<div style="float: left; margin-left: 30px;">
    <h4>Listado de coches</h4>
        <ul>
            <li *ngFor="let coche of coches">
                {{coche.nombre}} - {{coche.caballaje}} - {{coche.color}}
            </li>
        </ul>

</div>